/* CSS RESET Thanks to Meyerweb */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Base colors */
:root{
	--first:#4F2E31;
	--second:#212B3D;
	--light:#FFF;
	--dark:#201C19;
}
/* base body and font-size */
body{
	background: var(--dark);
	color: var(--light);
	font-family: 'Open Sans', sans-serif;
}
html{
	font-size: 18px;
}

/*general image display */
.image-container{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}
.image-container img{
	display: block;
	width: 100%;
	height: 100%;
/* 	border-radius: 50%; */
	object-fit: cover;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header and Menu */
.header{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menu{
	display: none;
}


/* Hero Section */
.hero-section{

	height: 100vh;
	background: rgba(0,0,0,0.3) url('../img/pexels-cottonbro-3992875.jpg');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: column nowrap;

	padding-left: 2rem;
}
.hero-section h1{
	font-size: 3rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid var(--light) ;
	margin-bottom: 1rem;

}

/* general sections display */
.section-box{
	padding: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	min-height: 50vh;
}
.hero-section + .section-box{
	margin-top: 3rem;
}
.text-container{
	max-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}
.text-container h2{
	font-size: 1.5rem;
	padding-bottom: .25rem;
	border-bottom: 1px solid var(--light) ;
	margin-bottom: .5rem;
}
.about-section{
	background-color: var(--dark);
}
.salon-hours-section,.contact-section{
	background-color: var(--second);
}
.the-team-section{
	background-color: var(--first);
}

/* our services section */
.our-services-section{
	flex-direction: column;
	height: 80vh;

}
.services-articles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* width: 80%; */
}
.services-articles article{
	
	display: flex;
	gap: .5rem;
	padding: .5rem;
	font-size: 1rem;
}
.services-articles article div+div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.services-articles h3{
	font-size: 1rem;
	padding-bottom: .25rem;
}
.services-articles p{
	font-size: .8rem;
}
.article-image-container{
	width: 150px;
	height: 150px;
	border-radius: .25rem;
	flex-shrink: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/